body {
    padding: 50px 0 0 0;
    margin: 0;
}

.navbardiv {
    background-color: #252525 !important;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 0 !important;
    background-color: rgba(0, 0, 0, 0.2);
}

table {
    width: 1000px !important;
    margin: 0 auto;
    text-align: center;
}

.submit-button {
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
}

.hidden-button {
    background: none;
    border: none;
}

tr, th, td {
    margin: 0;
    padding: 5px 10px;
    text-align: center !important;
    background-color: rgba(0, 0, 0, 0.1);
    color: #000000;
}

.pattern img {
    position: fixed;
    z-index: -99;
    background-size: auto;
    filter: blur(2px);
    margin: 0;
    padding: 0;
}

.button img {
    background-color: rgba(0, 0, 0, 0.12);
}

.input-wrapper-2 {
    padding-left: 20px;
    padding-top: 20px;
    margin: 20px 200px 0 200px;
    background-color: rgba(0, 0, 0, 0.2);
}