<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&amp;subset=latin-ext" rel="stylesheet">
    <script type="text/javascript" href="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>

<body>
<div class="navbardiv">
    <div class="pattern">
        <img src="../static/img/background.jpg" alt="background">
    </div>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a href="#" class="btn btn-danger">Home</a>
  </div>
</nav>
</div>

    <h1><strong>User Story Manager</strong></h1>

    <div class="all-container">

    <div class="submit-button">
        <form action="{{ url_for('empty_user_story') }}" method=get>
            <button type="submit" class="button-button btn btn-warning">Add new User Story</button>
        </form>
    </div>



    <table cellspacing="0" cellpadding="0" class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Story Title</th>
            <th>User Story</th>
            <th>Acceptance Criteria</th>
            <th>Business Value</th>
            <th>Estimation</th>
            <th>Status</th>
            <th><span class="small-text">Edit</span></th>
            <th><span class="small-text">Delete</span></th>
        </tr>


        {% for story in user_entries %}

        <tr>

            <td>{{ story.id }}</td>
            <td>{{ story.story_title }}</td>
            <td>{{ story.user_story }}</td>
            <td>{{ story.acceptance_criteria }}</td>
            <td>{{ story.business_value }}</td>
            <td>{{ story.estimation }}</td>
            <td>{{ story.status }}</td>


            <td><form action="/story/{{ story.id }}" method=post>
                    <input type="hidden" id="id_for_update" name="id_for_update" value={{ story.id }} readonly>
                    <button class="hidden-button" type="submit" id="pen" name="pen">
                    <img src="static/img/pencil.svg">
                    </button></td>
            </form>

            <td><form action="{{ url_for('delete_user_story') }}" method=post>
                    <input type="hidden" id="id_for_delete" name="id_for_delete" value={{ story.id }} readonly>
                    <button type="submit" class="hidden-button" id="delete" name="delete">
                    <img src="static/img/delete.svg ">
                    </button></td>
            </form>

        </tr>
        {% endfor %}

    </table>
</div>
</body>
<footer>
</footer>

</html>